<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Belastingdienst Bazaar</a>
  <form class="form-inline my-2 my-lg-0">
    <ul class="nav" *ngIf="isIngelogd()">
      <li class="nav-item">
        <a class="nav-link" routerLink="/nieuw">Aanmaken Advertentie</a>
      </li>
    </ul>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
  <ul class="nav justify-content-end" *ngIf="!isIngelogd()">
    <li class="nav-item">
      <a class="nav-link" routerLink="/inloggen" >Inloggen</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="/registreren">Registreren</a>
    </li>

  </ul>
  <ul class="nav justify-content-end" *ngIf="isIngelogd()">
    <li class="nav-item">
      <a class="nav-link" routerLink="/profiel" >{{ ingelogdeGebruiksnaam }}</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link uitloggen" (click)="uitloggen()">Uitloggen</a>
    </li>
  </ul>

</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
